<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<array>
	<dict>
		<key>children</key>
		<array>
			<dict>
				<key>children</key>
				<array>
					<dict>
						<key>feedUrl</key>
						<string>https://jiumutalk.com/episodes/feed.xml</string>
						<key>storeId</key>
						<string>1468634024</string>
						<key>title</key>
						<string>九木侃</string>
						<key>uuid</key>
						<string>891C49E6-430E-48EA-A549-53E65055E64E</string>
					</dict>
					<dict>
						<key>feedUrl</key>
						<string>https://Anyway.FM/rss.xml</string>
						<key>storeId</key>
						<string>1053786200</string>
						<key>title</key>
						<string>Anyway.FM 设计杂谈</string>
						<key>uuid</key>
						<string>AF6B43A8-B5DD-4F7D-B542-98C6D99D5074</string>
					</dict>
					<dict>
						<key>feedUrl</key>
						<string>http://rss.kaolafm.com/MZ_RSS/rss/1100000046138/album.xml</string>
						<key>storeId</key>
						<string>676106704</string>
						<key>title</key>
						<string>一席YiXi</string>
						<key>uuid</key>
						<string>EB2213B6-C522-4228-911C-C8F299AA2502</string>
					</dict>
					<dict>
						<key>feedUrl</key>
						<string>https://feeds.fireside.fm/shengdongjixi/rss</string>
						<key>storeId</key>
						<string>1183662640</string>
						<key>title</key>
						<string>声东击西</string>
						<key>uuid</key>
						<string>8C3F1CA5-C733-4735-93B3-D9090CA5BC69</string>
					</dict>
					<dict>
						<key>feedUrl</key>
						<string>https://api.vistopia.com.cn/rss/program/11.xml</string>
						<key>storeId</key>
						<string>1492414487</string>
						<key>title</key>
						<string>梁文道·八分</string>
						<key>uuid</key>
						<string>9C5A5553-3AE9-45B3-A885-D5A115BF84F6</string>
					</dict>
					<dict>
						<key>feedUrl</key>
						<string>http://www.ximalaya.com/album/42383928.xml</string>
						<key>storeId</key>
						<string>1535323603</string>
						<key>title</key>
						<string>几乎正常AlmostNormal</string>
						<key>uuid</key>
						<string>EB11A900-7B71-428A-A739-EC1D001EF28E</string>
					</dict>
					<dict>
						<key>feedUrl</key>
						<string>http://www.ximalaya.com/album/3558668.xml</string>
						<key>storeId</key>
						<string>1078007055</string>
						<key>title</key>
						<string>黑水公园</string>
						<key>uuid</key>
						<string>FC0791A1-F64E-4B63-BF48-0996B2D30E67</string>
					</dict>
					<dict>
						<key>feedUrl</key>
						<string>https://www.mirrormedia.mg/rss/category_knowledgeprogram.xml?utm_source=feed_related&amp;utm_medium=itunes</string>
						<key>storeId</key>
						<string>1479361968</string>
						<key>title</key>
						<string>知識好好玩</string>
						<key>uuid</key>
						<string>FE66955B-E3A7-4FCF-BBFE-C7BB06C12C58</string>
					</dict>
					<dict>
						<key>feedUrl</key>
						<string>https://api.vistopia.com.cn/rss/program/94.xml</string>
						<key>storeId</key>
						<string>1492414991</string>
						<key>title</key>
						<string>你好，童年</string>
						<key>uuid</key>
						<string>B74A9666-CCB7-40B3-AC60-8DA9988DABEA</string>
					</dict>
					<dict>
						<key>feedUrl</key>
						<string>https://crazy.capital/feed</string>
						<key>storeId</key>
						<string>1088178402</string>
						<key>title</key>
						<string>疯投圈</string>
						<key>uuid</key>
						<string>B71AAD98-0A83-472B-8CCA-2DA485940107</string>
					</dict>
					<dict>
						<key>feedUrl</key>
						<string>https://justpodmedia.com/rss/left-right.xml</string>
						<key>storeId</key>
						<string>1493503146</string>
						<key>title</key>
						<string>忽左忽右</string>
						<key>uuid</key>
						<string>B8FF4940-22F7-4A51-B6EB-68DF4B1BAA05</string>
					</dict>
					<dict>
						<key>feedUrl</key>
						<string>https://s1.proxy.wavpub.com/storyhunting.xml</string>
						<key>storeId</key>
						<string>1503858543</string>
						<key>title</key>
						<string>天才捕手FM</string>
						<key>uuid</key>
						<string>3B95EECA-D1E0-45BB-9922-96004647D90D</string>
					</dict>
					<dict>
						<key>feedUrl</key>
						<string>http://www.busangpodcast.com/episodes/feed.xml</string>
						<key>storeId</key>
						<string>1341496069</string>
						<key>title</key>
						<string>不丧</string>
						<key>uuid</key>
						<string>D52F6C9F-3775-4C40-AE8C-4F5C502257ED</string>
					</dict>
					<dict>
						<key>feedUrl</key>
						<string>https://storyfm.cn/feed/episodes</string>
						<key>storeId</key>
						<string>1256399960</string>
						<key>title</key>
						<string>故事 FM</string>
						<key>uuid</key>
						<string>D5F80A7F-2657-4D8B-A71B-94957A503361</string>
					</dict>
					<dict>
						<key>feedUrl</key>
						<string>https://justpodmedia.com/rss/flowcoffee.xml</string>
						<key>storeId</key>
						<string>1384508659</string>
						<key>title</key>
						<string>FLOWCoffee</string>
						<key>uuid</key>
						<string>4ACA33A4-6D36-4955-A257-85353E5776D0</string>
					</dict>
					<dict>
						<key>feedUrl</key>
						<string>https://s2.proxy.wavpub.com/sonicpilots.xml</string>
						<key>storeId</key>
						<string>1022418089</string>
						<key>title</key>
						<string>声波飞行员</string>
						<key>uuid</key>
						<string>7594F248-CAA6-4D81-84D5-359BBF28B038</string>
					</dict>
					<dict>
						<key>feedUrl</key>
						<string>https://sspai.typlog.io/episodes/feed.xml</string>
						<key>storeId</key>
						<string>1483157529</string>
						<key>title</key>
						<string>一派·Podcast</string>
						<key>uuid</key>
						<string>35FF4399-1C6A-4D91-A4C6-99CC881DC102</string>
					</dict>
					<dict>
						<key>feedUrl</key>
						<string>https://justinyan.me/feed/podcast</string>
						<key>storeId</key>
						<string>1069600190</string>
						<key>title</key>
						<string>枫言枫语</string>
						<key>uuid</key>
						<string>8FC713A4-50E6-4243-901F-D44FD676EAB9</string>
					</dict>
					<dict>
						<key>feedUrl</key>
						<string>https://bytetalk.fm/index.xml</string>
						<key>storeId</key>
						<string>1592076190</string>
						<key>title</key>
						<string>ByteTalk</string>
						<key>uuid</key>
						<string>FE904753-AAE1-479D-8B41-7F759D347552</string>
					</dict>
					<dict>
						<key>feedUrl</key>
						<string>https://pythonhunter.org/episodes/feed.xml</string>
						<key>storeId</key>
						<string>1460475182</string>
						<key>title</key>
						<string>捕蛇者说</string>
						<key>uuid</key>
						<string>3904AB08-6279-4B63-BDAA-2D452D167AFC</string>
					</dict>
					<dict>
						<key>feedUrl</key>
						<string>http://www.ximalaya.com/album/46552576.xml</string>
						<key>storeId</key>
						<string>1557614840</string>
						<key>title</key>
						<string>开腔姐妹儿</string>
						<key>uuid</key>
						<string>47CC52DC-15C6-4199-8971-32F29605477C</string>
					</dict>
					<dict>
						<key>feedUrl</key>
						<string>http://www.ximalaya.com/album/53320813.xml</string>
						<key>storeId</key>
						<string>1587487089</string>
						<key>title</key>
						<string>开源面对面</string>
						<key>uuid</key>
						<string>4486098D-F3B5-4614-A26F-C1A43B2625C0</string>
					</dict>
					<dict>
						<key>feedUrl</key>
						<string>https://api.vistopia.com.cn/rss/program/116.xml</string>
						<key>storeId</key>
						<string>1494093522</string>
						<key>title</key>
						<string>没理想编辑部</string>
						<key>uuid</key>
						<string>67872196-325C-4C18-91E2-5F4DF74FFA59</string>
					</dict>
					<dict>
						<key>feedUrl</key>
						<string>https://uxcoffee.typlog.io/feed/audio.xml</string>
						<key>storeId</key>
						<string>1099551615</string>
						<key>title</key>
						<string>UX Coffee 设计咖</string>
						<key>uuid</key>
						<string>73B54175-7323-451C-BF7C-91D2551B8ABA</string>
					</dict>
					<dict>
						<key>feedUrl</key>
						<string>http://www.ximalaya.com/album/25534957.xml</string>
						<key>storeId</key>
						<string>1475113228</string>
						<key>title</key>
						<string>三五环</string>
						<key>uuid</key>
						<string>655F5A6E-8038-4B60-AA40-0A6353AC23D0</string>
					</dict>
					<dict>
						<key>feedUrl</key>
						<string>http://www.ximalaya.com/album/14302859.xml</string>
						<key>storeId</key>
						<string>1433530822</string>
						<key>title</key>
						<string>无聊斋</string>
						<key>uuid</key>
						<string>17E36D87-3C78-4790-91A1-2BD618BBA11B</string>
					</dict>
					<dict>
						<key>feedUrl</key>
						<string>http://www.ximalaya.com/album/5574153.xml</string>
						<key>storeId</key>
						<string>1166949390</string>
						<key>title</key>
						<string>日谈公园</string>
						<key>uuid</key>
						<string>024A16D0-331B-4DDD-92B0-B5803187018D</string>
					</dict>
					<dict>
						<key>feedUrl</key>
						<string>https://oneatatime.typlog.io/feed/audio.xml</string>
						<key>storeId</key>
						<string>1585999219</string>
						<key>title</key>
						<string>一人有一个</string>
						<key>uuid</key>
						<string>58576E28-D338-491B-BE20-D20F49289611</string>
					</dict>
					<dict>
						<key>feedUrl</key>
						<string>https://feed.xyzfm.space/4wq8y3ymmc7p</string>
						<key>storeId</key>
						<string>1572472132</string>
						<key>title</key>
						<string>奇想驿 by 产品沉思录</string>
						<key>uuid</key>
						<string>02D60B43-9A8B-4843-A654-8BDBC47D4B1B</string>
					</dict>
					<dict>
						<key>feedUrl</key>
						<string>http://www.ximalaya.com/album/23165442.xml</string>
						<key>storeId</key>
						<string>1490736223</string>
						<key>title</key>
						<string>happy podcast</string>
						<key>uuid</key>
						<string>49404B62-2670-421B-8F7F-298D35BB627F</string>
					</dict>
					<dict>
						<key>feedUrl</key>
						<string>http://www.ximalaya.com/album/46199233.xml</string>
						<key>storeId</key>
						<string>1559695855</string>
						<key>title</key>
						<string>知行小酒馆</string>
						<key>uuid</key>
						<string>A079CB38-DA3B-41F5-B052-9C5F519A7B9F</string>
					</dict>
					<dict>
						<key>feedUrl</key>
						<string>http://www.ximalaya.com/album/38878900.xml</string>
						<key>storeId</key>
						<string>1529989415</string>
						<key>title</key>
						<string>吹水不擦嘴</string>
						<key>uuid</key>
						<string>167202BD-FD4C-44F9-85F4-1E7D565715B2</string>
					</dict>
					<dict>
						<key>feedUrl</key>
						<string>http://rss.lizhi.fm/rss/95063190.xml</string>
						<key>storeId</key>
						<string>1286990812</string>
						<key>title</key>
						<string>朋友圈不圈FM</string>
						<key>uuid</key>
						<string>B516FE0D-EE2A-4D9E-AB2B-DCED816ADA70</string>
					</dict>
					<dict>
						<key>feedUrl</key>
						<string>http://www.ximalaya.com/album/5971303.xml</string>
						<key>storeId</key>
						<string>1224483812</string>
						<key>title</key>
						<string>一言不合</string>
						<key>uuid</key>
						<string>A9050840-28CE-4B2C-A79C-74A759A036AC</string>
					</dict>
					<dict>
						<key>feedUrl</key>
						<string>http://www.ximalaya.com/album/31677988.xml</string>
						<key>storeId</key>
						<string>1512932915</string>
						<key>title</key>
						<string>来都来了 | 听了再走</string>
						<key>uuid</key>
						<string>378B8666-59C3-4B1E-B2EE-BEAE3106A69D</string>
					</dict>
					<dict>
						<key>feedUrl</key>
						<string>http://www.ximalaya.com/album/43867024.xml</string>
						<key>storeId</key>
						<string>1552333470</string>
						<key>title</key>
						<string>神经有BING</string>
						<key>uuid</key>
						<string>2EB95261-B94D-4464-BBC0-4092DECB3F10</string>
					</dict>
					<dict>
						<key>feedUrl</key>
						<string>http://www.ximalaya.com/album/19206382.xml</string>
						<key>storeId</key>
						<string>1455784513</string>
						<key>title</key>
						<string>凹凸电波</string>
						<key>uuid</key>
						<string>C8205A97-A3F5-4FDA-A272-AA87EB353D24</string>
					</dict>
					<dict>
						<key>feedUrl</key>
						<string>https://s2.proxy.wavpub.com/fafadawang.xml</string>
						<key>storeId</key>
						<string>1468249055</string>
						<key>title</key>
						<string>发发大王</string>
						<key>uuid</key>
						<string>F5FE3B4E-FF9D-4601-8844-5F381B03EB3C</string>
					</dict>
				</array>
				<key>title</key>
				<string>Library</string>
				<key>uuid</key>
				<string>Podcasts</string>
			</dict>
			<dict>
				<key>children</key>
				<array/>
				<key>title</key>
				<string>Stations</string>
				<key>uuid</key>
				<string>Stations</string>
			</dict>
		</array>
		<key>title</key>
		<string>Root</string>
	</dict>
</array>
</plist>
